In [1]:
# !pip install pandas

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv("test.csv")

     Name  Age
0  Anshul   37
1   Rohan   33
2  Poorva   35
3  Saloni   31
4   Pasha   30
5  Ruchir    5
6  Cheeku    1

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/19 20:31:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [11]:
# df_pyspark = spark.read.csv("test.csv")
df_pyspark = spark.read.option('header', 'true').csv("test.csv")

In [12]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|Anshul| 37|
| Rohan| 33|
|Poorva| 35|
|Saloni| 31|
| Pasha| 30|
|Ruchir|  5|
|Cheeku|  1|
+------+---+

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head()

Row(Name='Anshul', Age='37')

In [15]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)