In [1]:
# lists
lst = [1,2,3,4,5,6,7]
lst.append(8)

In [3]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
# append two lists - extend
lst.extend([9,10,11])

In [6]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
# insert values to a particular index in list
lst.insert(7, 12)

In [11]:
lst

[1, 2, 3, 4, 5, 6, 7, 12, 8, 9, 10, 11, 7]

In [12]:
lst.remove(7)

In [13]:
lst

[1, 2, 3, 4, 5, 6, 12, 8, 9, 10, 11, 7]

In [14]:
lst.pop()

7

In [15]:
lst

[1, 2, 3, 4, 5, 6, 12, 8, 9, 10, 11]

In [17]:
lst.pop(1)

2

In [18]:
lst

[1, 3, 4, 5, 6, 12, 8, 9, 10, 11]

In [19]:
lst1 = lst

In [20]:
lst1.clear()

In [21]:
lst

[]

In [22]:
lst1

[]

In [23]:
lst = [1, 3, 4, 5, 6, 12, 8, 9, 10, 11]

In [24]:
lst1 = lst.copy()

In [25]:
lst1

[1, 3, 4, 5, 6, 12, 8, 9, 10, 11]

In [26]:
lst1.clear()

In [27]:
lst

[1, 3, 4, 5, 6, 12, 8, 9, 10, 11]

In [28]:
lst1

[]

In [29]:
lst.index(11)

9

In [34]:
lst.index(10, 2, 9)

8

In [36]:
lst.count(1)

1

In [37]:
lst.sort()

In [38]:
lst

[1, 3, 4, 5, 6, 8, 9, 10, 11, 12]

In [40]:
lst.sort(reverse=True)

In [41]:
lst

[12, 11, 10, 9, 8, 6, 5, 4, 3, 1]

In [42]:
lst.copy()

[12, 11, 10, 9, 8, 6, 5, 4, 3, 1]

In [43]:
# using queue
from collections import deque

queue = deque([4,3,2,1])

In [44]:
queue

deque([4, 3, 2, 1])

In [45]:
queue.append(5)

In [46]:
queue

deque([4, 3, 2, 1, 5])

In [47]:
queue.popleft()

4

In [48]:
queue.pop()

5

In [49]:
queue

deque([3, 2, 1])

In [50]:
# List Comprehension

In [51]:
# for loop
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
# map and lambda
squares = list(map(lambda x: x**2, range(10)))

In [53]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
# list comprehension
squares = [x**2 for x in range(10)]

In [55]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
[(x, y) for x in [1,2,3] for y in [4,5,6]]

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [57]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [58]:
vec = [-4, -2, 0, 2, 4]

In [59]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [61]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [63]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [64]:
mat = [[1,2,3], [4,5,6], [7,8,9]]

In [68]:
[num for elem in mat for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
# transpose a matrix

In [70]:
matrix = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]

In [71]:
[[row[i] for row in matrix] for i in range(len(matrix[0]))]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [72]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [76]:
# list(**matrix)

In [77]:
lst

[12, 11, 10, 9, 8, 6, 5, 4, 3, 1]

In [79]:
# del command
del lst[2]

In [80]:
lst

[12, 11, 9, 8, 6, 5, 4, 3, 1]

In [81]:
del lst[2:4]

In [82]:
lst

[12, 11, 6, 5, 4, 3, 1]

In [83]:
# tuples
t = 123, 4,56, 'india'

In [84]:
t

(123, 4, 56, 'india')

In [85]:
# nested tuples
t1 = t, (1,2,3,4,5)

In [86]:
t1

((123, 4, 56, 'india'), (1, 2, 3, 4, 5))

In [87]:
# tuples are immutable
t[0]

123

In [88]:
t[0] = 12134

TypeError: 'tuple' object does not support item assignment

In [89]:
# tuples can contain lists
t2 = ([1,2,3,4], [5,6,7,8])

In [90]:
t2

([1, 2, 3, 4], [5, 6, 7, 8])

In [92]:
# can lists within tuple be updated
t2[0].append(10)

In [93]:
t2

([1, 2, 3, 4, 10], [5, 6, 7, 8])

In [94]:
t2[1].append(11)

In [95]:
t2

([1, 2, 3, 4, 10], [5, 6, 7, 8, 11])

In [96]:
t

(123, 4, 56, 'india')

In [97]:
empty = ()
singleton = 'hello',

In [98]:
len(empty)

0

In [99]:
len(singleton)

1

In [100]:
singleton

('hello',)

In [101]:
t

(123, 4, 56, 'india')

In [102]:
a, b, c, d = t

In [103]:
print(a,b,c,d)
print(type(a), type(b), type(c), type(d))

123 4 56 india
<class 'int'> <class 'int'> <class 'int'> <class 'str'>

In [104]:
# sets

In [105]:
basket = {'orange', 'apple', 'orange', 'pear', 'apple', 'banana'}

In [106]:
print(basket)

{'pear', 'apple', 'banana', 'orange'}

In [108]:
'orange' in basket

True

In [109]:
'pineapple' in basket

False

In [110]:
a = set('abracadabra')
b = set('alakazam')

In [111]:
a

{'a', 'b', 'c', 'd', 'r'}

In [112]:
b

{'a', 'k', 'l', 'm', 'z'}

In [113]:
a - b

{'b', 'c', 'd', 'r'}

In [114]:
a | b

{'a', 'b', 'c', 'd', 'k', 'l', 'm', 'r', 'z'}

In [115]:
a & b

{'a'}

In [116]:
a ^ b

{'b', 'c', 'd', 'k', 'l', 'm', 'r', 'z'}

In [117]:
# set comprehension
c = {x for x in 'abracadabra' if x not in 'abc'}

In [118]:
c

{'d', 'r'}

In [119]:
# dictionaries

In [120]:
tel = {'jack': 5473, 'sape': 7238}
tel['guido'] = 9923

In [121]:
tel

{'jack': 5473, 'sape': 7238, 'guido': 9923}

In [123]:
del tel['sape']

KeyError: 'sape'

In [124]:
tel['irv'] = 8127

In [125]:
tel

{'jack': 5473, 'guido': 9923, 'irv': 8127}

In [126]:
list(tel)

['jack', 'guido', 'irv']

In [127]:
sorted(tel)

['guido', 'irv', 'jack']

In [128]:
'guido' in tel

True

In [129]:
# using constructor to create dictionary from a list of tuples
dct = dict([('sape', 6282), ('guido', 5172), ('iaka', 7823), ])

In [130]:
dct

{'sape': 6282, 'guido': 5172, 'iaka': 7823}

In [131]:
# comprehension to create dict
{x: x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [ ]:
# dict from attribute dc