In [ ]:
## SQL

# # EmployeeInfo Table: 
# EmpID
# EmpFname
# EmpLname
# Department
# Project
# Address
# DOB
# Gender

# Write the SQL qyery to fetch the department-wise count of 
# employees sorted by departmentâ€™s count in ascending order.

##################################################################################################################

# # Table1 and Table2:
# TABLE_1
# COLUMN_1
# 1
# 1
# 0
# 0
# 2
# 3
# null
# null

# TABLE_2
# COLUMN_2
# 0
# 1
# 1
# 2
# 4
# null
# null
# null

# What will be the output of below query:

# Query:
# SELECT count(*)
# FROM TABLE_1 LEFT JOIN TABLE_2
# ON TABLE_1.COLUMN_1 = TABLE_2.COLUMN_2;

##################################################################################################################

#3. Find duplicates in a table:

# Solution:
# select * from Employee a where rowid <>( select max(rowid) from Employee b where a.Employee_num=b.Employee_num);

##################################################################################################################

#4. Find second highest salary:
# Given 

# Solution:
# select distinct Salary from Employee e1 where 2=Select count(distinct Salary) from Employee e2 where e1.salary<=e2.salary;

##################################################################################################################