In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('aggregate').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/20 13:19:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
df_pyspark = spark.read.csv("test4.csv", header=True, inferSchema=True)

In [10]:
df_pyspark.show()

+------+------------+------+
|  Name|  Department|Salary|
+------+------------+------+
| Krish|Data Science|  8000|
| Krish|         IOT|  8100|
|Mahesh|    Big Data|  9202|
| Krish|    Big Data|  4500|
| Sudha|Data Science|  7712|
| Sudha|         IOT|  7129|
| Sunny|    Big Data|  7123|
| Sunny|Data Science|  9913|
|Mahesh|Data Science|  7129|
+------+------------+------+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [12]:
# groupby
df_pyspark.groupBy("Name").sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
| Sunny|      17036|
| Krish|      20600|
| Sudha|      14841|
|Mahesh|      16331|
+------+-----------+

In [13]:
# groupby departments - example: find department with maxm salary
df_pyspark.groupBy("Department").sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15229|
|    Big Data|      20825|
|Data Science|      32754|
+------------+-----------+

In [14]:
# count of teachers - departmentwise
df_pyspark.groupBy("Department").count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [17]:
# department mean salary
df_pyspark.groupBy("Department").mean().show()

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IOT|           7614.5|
|    Big Data|6941.666666666667|
|Data Science|           8188.5|
+------------+-----------------+

In [16]:
# aggregate method
df_pyspark.agg({"Salary": "sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|      68808|
+-----------+

In [18]:
df_pyspark.groupBy("Name").max().show()

+------+-----------+
|  Name|max(Salary)|
+------+-----------+
| Sunny|       9913|
| Krish|       8100|
| Sudha|       7712|
|Mahesh|       9202|
+------+-----------+