In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/19 20:58:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [19]:
## read the dataset
df_pyspark = spark.read.option('header', 'true').csv('test.csv', inferSchema=True)

In [20]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Anshul| 37|        15|
| Rohan| 33|        11|
|Poorva| 35|         4|
|Saloni| 31|         1|
| Pasha| 30|         1|
|Ruchir|  5|         0|
|Cheeku|  1|         0|
+------+---+----------+

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [22]:
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)

In [23]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [27]:
df_pyspark.head(3)

[Row(Name='Anshul', Age=37, Experience=15),
 Row(Name='Rohan', Age=33, Experience=11),
 Row(Name='Poorva', Age=35, Experience=4)]

In [28]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Anshul| 37|        15|
| Rohan| 33|        11|
|Poorva| 35|         4|
|Saloni| 31|         1|
| Pasha| 30|         1|
|Ruchir|  5|         0|
|Cheeku|  1|         0|
+------+---+----------+

In [30]:
df_pyspark.select("Name")

DataFrame[Name: string]

In [31]:
df_pyspark.select("Name").show()

+------+
|  Name|
+------+
|Anshul|
| Rohan|
|Poorva|
|Saloni|
| Pasha|
|Ruchir|
|Cheeku|
+------+

In [32]:
df_pyspark.select(["Name", "Experience"]).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Anshul|        15|
| Rohan|        11|
|Poorva|         4|
|Saloni|         1|
| Pasha|         1|
|Ruchir|         0|
|Cheeku|         0|
+------+----------+

In [35]:
df_pyspark['Name']

Column<'Name'>

In [36]:
df_pyspark['Name'].show()

TypeError: 'Column' object is not callable

In [37]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [38]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [39]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+
|summary|  Name|               Age|       Experience|
+-------+------+------------------+-----------------+
|  count|     7|                 7|                7|
|   mean|  null|24.571428571428573|4.571428571428571|
| stddev|  null|14.965038621813877|6.023762469230862|
|    min|Anshul|                 1|                0|
|    max|Saloni|                37|               15|
+-------+------+------------------+-----------------+

In [43]:
## adding columns in pyspark dataframe
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [42]:
df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2).show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 years|
+------+---+----------+------------------------+
|Anshul| 37|        15|                      17|
| Rohan| 33|        11|                      13|
|Poorva| 35|         4|                       6|
|Saloni| 31|         1|                       3|
| Pasha| 30|         1|                       3|
|Ruchir|  5|         0|                       2|
|Cheeku|  1|         0|                       2|
+------+---+----------+------------------------+

In [44]:
df_pyspark.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 years|
+------+---+----------+------------------------+
|Anshul| 37|        15|                      17|
| Rohan| 33|        11|                      13|
|Poorva| 35|         4|                       6|
|Saloni| 31|         1|                       3|
| Pasha| 30|         1|                       3|
|Ruchir|  5|         0|                       2|
|Cheeku|  1|         0|                       2|
+------+---+----------+------------------------+

In [45]:
# drop the columns
df_pyspark = df_pyspark.drop("Experience After 2 years")

In [47]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Anshul| 37|        15|
| Rohan| 33|        11|
|Poorva| 35|         4|
|Saloni| 31|         1|
| Pasha| 30|         1|
|Ruchir|  5|         0|
|Cheeku|  1|         0|
+------+---+----------+

In [48]:
## renaming the column
df_pyspark.withColumnRenamed("Name", "New Name").show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Anshul| 37|        15|
|   Rohan| 33|        11|
|  Poorva| 35|         4|
|  Saloni| 31|         1|
|   Pasha| 30|         1|
|  Ruchir|  5|         0|
|  Cheeku|  1|         0|
+--------+---+----------+