In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/20 12:08:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_pyspark = spark.read.csv("test3.csv", header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Anshul| 37|        15|250000|
| Rohan| 33|        11|450000|
|Poorva| 35|         4| 10000|
|Saloni| 31|         1|  9000|
| Pasha| 29|         1|  8000|
|Ruchir|  5|         0|   100|
|Cheeku|  1|         0|     0|
+------+---+----------+------+

# Filter Operations

In [6]:
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Poorva| 35|         4| 10000|
|Saloni| 31|         1|  9000|
| Pasha| 29|         1|  8000|
|Ruchir|  5|         0|   100|
|Cheeku|  1|         0|     0|
+------+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=9000").select(['Name', 'Salary']).show()

+------+------+
|  Name|Salary|
+------+------+
|Saloni|  9000|
| Pasha|  8000|
|Ruchir|   100|
|Cheeku|     0|
+------+------+

In [10]:
df_pyspark.filter((df_pyspark['Salary'] <= 10000) & (df_pyspark['Salary'] > 5000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Poorva| 35|         4| 10000|
|Saloni| 31|         1|  9000|
| Pasha| 29|         1|  8000|
+------+---+----------+------+

In [11]:
df_pyspark.filter(~((df_pyspark['Salary'] <= 10000) & (df_pyspark['Salary'] > 5000))).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Anshul| 37|        15|250000|
| Rohan| 33|        11|450000|
|Ruchir|  5|         0|   100|
|Cheeku|  1|         0|     0|
+------+---+----------+------+